<div id="main-content">

  <app-mobile-menu (showMobileMenu)="clickMobileMenubtn($event)"></app-mobile-menu>

  <div class="container">
    <div class="row">

      <app-article-container [@fadeAnimation] *ngIf="selectedTab=='MyThings'"></app-article-container>
      <app-about-me [@fadeAnimation] *ngIf="selectedTab=='AboutMe'"></app-about-me>
      <app-menu (selectNewTab)="changeContent($event)" [showMenu]="showMenu"></app-menu>

      <app-pageination (currentPage)="currentPageNumber($event)" *ngIf="selectedTab=='MyThings'"></app-pageination>

    </div>
  </div>

  <app-footer></app-footer>

  <app-loader [isLoading]="isPageLoading"></app-loader>

</div>
