<!-- Pagination -->
<div class="pagination-wrap">
  <ul>
    <li (click)="clickArrow('previous')">
      <a>
        <i class="fa fa-long-arrow-left"></i>
      </a>
    </li>

    <li (click)="clickPageNumber(i)" *ngFor="let i of itemArray">
      <a [ngClass]="(currentSelectedPage===i)?'page-numbers current':'page-numbers'">{{i}}</a>
    </li>

    <li (click)="clickArrow('next')">
      <a>
        <i class="fa fa-long-arrow-right"></i>
      </a>
    </li>
  </ul>

</div>
<!-- End Pagination -->
