.toast_wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -moz-transition: visibility 0.3s ease, opacity 0.3s ease;
  -ms-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.toast_wrapper.show {
  visibility: visible;
  opacity: 1;
}

.toast {
  visibility: hidden;
  opacity: 0;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 11;
  right: 40px;
  top: 51px;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -moz-transition: visibility 0.3s ease, opacity 0.3s ease;
  -ms-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.toast button {
  background-color: transparent;
  border: 0;
  padding-top: 10px;
  margin: 1px 10px;
  font-weight: bold;
  letter-spacing: 3.5px;
}

.toast button:hover {
  color: #ababab;
}

.txt {
  padding-bottom: 10px;
  border-bottom: #464646 solid 0.5px;
  display: inline-block;
  max-width: 250px;
}

@media only screen and (max-width: 991px) {
  .toast {
    display: inline-block !important;
    right: unset;
    top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .toast {
    display: inline-block !important;
    top: 0;
    left: 0;
    right: 0;
    margin-left: unset;
  }
}
