<div class="toast_wrapper" [ngClass]="toast?'show':''">
  <div class="toast" [ngClass]="toast?'show':''">
    <span
      class="txt">Some text some message Some text some message Some text some message Some text some message </span>
    <div *ngIf="on_off_btn" class="button">
      <button (click)="clickToastBtn($event,'yes')">Yes</button>
      <button (click)="clickToastBtn($event,'no')">No</button>
    </div>
    <div *ngIf="!on_off_btn" class="button">
      <button (click)="clickToastBtn($event,'ok')">Ok</button>
    </div>
  </div>
</div>

