<div class="col-md-9 col-md-offset-3">
  <div class="projects">
    <article class="post">
      <div class="post-media">

        <!-- Image Drop Zone -->
        <div *ngIf="!imageURL" class="drop-zone">
          <h2 class="title">Add Article Image</h2>
          <p>Drag and Drop a File</p>
          <div class="file">
            <input class="file-input" type="file" (change)="chooseImageFile($event)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">or choose a file</span>
            </span>
          </div>
        </div>
        <!-- End Image Drop Zone -->

        <!-- Loaded Image -->
        <a *ngIf="imageURL">
          <img [src]="imageURL" alt="Post">
        </a>
        <!-- End Loaded Image -->

        <progress class="fs-progress" [value]=60 max="90"></progress>

      </div>
      <div class="post-content">
        <h2 class="title">
          <input type="text" placeholder="Enter article name" [(ngModel)]="articleName" [disabled]="disableInputFields"/>
        </h2>

        <!-- Post Details -->
        <div class="post-details">
          <input style="font-size: 14px" type="text" placeholder="Please enter date: ( Ex: October 9, 2017 )" [(ngModel)]="articleDate" [disabled]="disableInputFields"/>
        </div>
        <!-- End Post Details -->

        <!-- The Content -->
        <div class="the-excerpt">
          <p>
            <textarea style="max-width: 100%; min-width: 100%;" class="form-control rounded-0" rows="10"
                      placeholder="Write something about article." [(ngModel)]="articleDescription" [disabled]="disableInputFields"></textarea>
          </p>
        </div>
        <!-- End The Content -->
        <div class="push-button">
          <button (click)="clickPushButton()">Push</button>
        </div>

      </div>
    </article>
  </div>
  <hr>
  <app-spinner [inputValue]="4" [minValue]="1" [maxValue]="4"></app-spinner>
</div>
